<html>

<head>
  <link rel="stylesheet" href="{{ .CSSPath }}" />
</head>

<body style="display: flex;  justify-content: center; background-color: {{ .BgColor }};">
  <pre class="mermaid">
{{ .Mermaid }}
  </pre>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    var config = {
      startOnLoad: true,
      theme: '{{ .Theme }}',
      darkMode: {{ .IsDarkMode }},
      fontFamily: {{ .FontFamily }},
    };
    mermaid.initialize(config);
  </script>
</body>

</html>